<div class="ui centered grid container">
  <div class="five wide column">
    <p>
      <strong>Nome:</strong>
      <%= @theme.name %>
    </p>
    
    <%= link_to 'Editar', edit_theme_path(@theme), class: 'ui button' %> 
    <%= link_to 'Voltar', themes_path, class: 'ui button' %>
  </div>
</div>