<table class="ui fixed single line celled table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Filiação <br> <small>(Se dicente matricula, se docente a instituição será exibido)</small></th>
            <% if show_links %>
                <th>Ação</th>
            <% end %>
      </tr>
    </thead>
    <tbody>
        <% users.each do |user| %>
            <tr>
                <td><%= user.name.upcase %></td>
                <td><%=  user.matriculation %></td>
                <% if show_links %>
                    <td><%= link_to "Confirmar", confirme_user_path(user), class: 'ui button teal' %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>