<div class="nine wide column">
    <div id="regInnkommende" class="ui stacked segment">
      <a class="ui yellow ribbon label">Edital para envio de artigos</a>
      <p style="margin-top:2em;">
          
          <% if current_user.article_aproved %>
            <p></p>
            <div class="ui warning container">
              <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                  Alerta!
                </div>
                <p>Parabéns! Seu trabalho foi aprovado!</p>
              </div>
            </div>
            <p></p>
          <% end %>
          <% if current_user.article_url and not current_user.article_aproved %>
            <p></p>
            <div class="ui warning container">
              <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                  Informação!
                </div>
                <p>Trabalho enviado aguarde o resultado!</p>
              </div>
            </div>
            <p></p>
          <% end %>
          <%= render 'layouts/alert_messages' %>
          Para download das normas de submissão de trabalhos <a href="edital.pdf" class="ui tiny button "> CLIQUE AQUI</a>.
      </p>
      <% unless current_user.article_url %>
        <%= render 'article' %>
      <% end %>
    </div>
  <div class="ui hidden divider"></div>
</div>

<!-- side bar -->
<div class="seven wide column">
  <div class="ui secondary segment">
    <div class="ui grey small horizontal statistic">
      <div class="value">
        <%= current_user.status_pay %>
      </div>
    </div>
  </div>
  
  <div id="regInnkommende" class="ui stacked segment">
    <a class="ui blue ribbon label">Dados para pagamento</a>
    <p style="margin-top:1em;">Banco: AGUARDE! </p>
    <p>Agência: AGUARDE</p>
    <p>Conta Corrente: AGUARDE Operação: AGUARDE</p>
    <h5>Enviar email com comprovante para: </h5>
    <p class='ui basic blue button'>
      <a href="mailto:email@email.com?subject=Comprovante de pagamento&body=Comprovante de pagamento, adicione ao anexo o comprovante!">AGUARDE!</a>
    </p>
  </div>
</div>