<div class="nine wide column">
    <div id="regInnkommende" class="ui stacked segment">
      <a class="ui yellow ribbon label">Edital para envio de artigos</a>
      <p style="margin-top:2em;">
          
          <% if current_user.article_aproved %>
            <p></p>
            <div class="ui warning container">
              <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                  Alerta!
                </div>
                <p>Parabéns! Seu trabalho foi aprovado!</p>
              </div>
            </div>
            <p></p>
          <% end %>
          <% if current_user.article_url and not current_user.article_aproved %>
            <p></p>
            <div class="ui warning container">
              <div class="ui message">
                <i class="close icon"></i>
                <div class="header">
                  Informação!
                </div>
                <p>Trabalho enviado aguarde o resultado!</p>
                <p>Caso  esteja enfrentando problemas no envio de trabalhos, envie um email com seu trabalho para saped-ufpi.cientifica@hotmail.com com o seu trabalho em anexo</p>
              </div>
            </div>
            <p></p>
          <% end %>
          <%= render 'layouts/alert_messages' %>
          
      </p>
      <p>Mudanças de minicurso ou demais atualizações da sua inscrição click em <%= link_to 'Perfil',edit_user_registration_path, class:'ui button teal' %></p>
      <% unless current_user.article_url  %>
        <!-- p>Caso  esteja enfrentando problemas no envio de trabalhos, envie um email com seu trabalho para saped-ufpi.cientifica@hotmail.com com o seu trabalho em anexo</p -->
        <%# render('article') unless current_user.participation_id == 1 %>
      <% end %>
    </div>
  <div class="ui hidden divider"></div>
</div>

<!-- side bar -->
<div class="seven wide column">
  <div class="ui secondary segment">
    <div class="ui grey small horizontal statistic">
      <div class="value">
        <%= current_user.status_pay %>
      </div>
    </div>
  </div>
  
  <div id="regInnkommende" class="ui stacked segment">
    <a class="ui blue ribbon label">Dados para pagamento</a>
    <p style="margin-top:1em;">Banco: Banco do Brasil </p>
    <p>Agência: 3791-5</p>
    <p>Conta Corrente: 10.176-1</p>
    <p>Valor de R$ 30,00 </p>
    <h5>Enviar email com comprovante para: </h5>
    <p class='ui basic blue button'>
      <a href="mailto:saped-ufpi.financeira@hotmail.com?subject=Comprovante de pagamento&body=Comprovante de pagamento, adicione ao anexo o comprovante!">saped-ufpi.financeira@hotmail.com</a>
    </p>
  </div>
</div>