
<div style="margin-top:5em;min-height:500px;"class="ui text " >
    <div class='ui   segment' >
        <div class="ui    grid ">
            <div class="eight wide column" >
                <br>
                
                <h2 class="ui center aligned">Expediente</h2>
                <p>
                Anais da VII Semana Acadêmica de Pedagogia – As (RÉ)formas
                educacionais e a formação política do professor: velhos embates, novas
                estratégias. Picos - PI: CSHNB/UFPI, 2017.
                </p>
                
                
                <h4>Periodicidade do Evento: anual</h4>
                
                <h4>Corpo Editorial</h4>
                <ul>
                    <li>Luisa Xavier de Oliveira</li>
                    <li>Ada Raquel Teixeira Mourão</li>
                    <li>Maria Cézar de Sousa</li>
                    <li>Thatianny Jasmine Castro Martins de Carvalho</li>
                </ul>
                 <br>
                <br>
                <br>
                <br>
                <br>
                <br>
               
            </div>
            
            <div class="eight wide column" >
                <BR>
                 <h4>Comissão Científica</h4>
                
                <ul>
                    <li>Ada Raquel Teixeira Mourão <span class='font-weight:bold;'>(Coordenadora do Evento)</span></li>
                    <li>Alessandra Lopes de Oliveira</li>
                    <li>Cristiana Barra Teixeira</li>
                    <li>Isabel Cristina de Aguiar Orquiz</li>
                    <li>Janailza Moura de Sousa Barros</li>
                    <li>Jaaziel de Carvalho Costa</li>
                      
                    <li>Luisa Xavier de Oliveira (Coordenadora Científica)</li>
                    <li>Maria das Dôres de Sousa</li>
                    <li>Maria Alveni Barros Vieira</li>
                    <li>Maria Gomes Fernandes</li>
                    <li>Nilton Ferreira Bittencourt Junior</li>
                    <li>Patrícia Lima de Barros</li>
                    <li>Thatianny Jasmine Castro Martins de Carvalho</li>
                </ul>
            </div>
        </div>
    </div>
</div>
    <% content_for :footer do %>
        <script>
            $("#footer").css("display", 'none');
            $("#hide-menu").css("display", 'none');
        </script>
    <% end %>







