<div class="nine wide column">
    <div id="regInnkommende" class="ui stacked segment" style='width:170%;'>
        <a class="ui yellow ribbon label">Lista</a>
        <p style="margin-top:2em;">
            <%= render :partial => 'user_table', :locals => { users: User.confirmeds, show_links: false } %>
        </p>
    </div>
</div>