<div class="fourteen wide column">
    <div id="regInnkommende" class="ui stacked segment">
        <a class="ui yellow ribbon label">Lista</a>
        <p style="margin-top:2em;">
            <%= render :partial => 'poster', :locals => { users_banner: User.banners,  users_poster: User.poster } %>
        </p>
    </div>
</div>